
    
    

    <p>The first people is {{ eventDict.user1 }}</p>
    <p>The second people is {{ user2 }}</p>
    <p>The third people is {{ eventDict.user3.1[0]}}</p>
    {% for key, value in eventDict.items() %}
        <dt>{{ key|e }}</dt>
        {% for i,j in value.items() %}
            <h3>{{i|e}}</h3>
            <p>{{j.0}} à {{j.1}} de {{j.2[:3]}}</p>
            
            <h5>-----------------------</h5>
        {% endfor %}
    {% endfor %}

    {% for row in periodos %}
    <div class="card"> jjj
            <div class="card-header" role="tab">
                <h5 class="mb-0">
                    <a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-1{{row.1}} .item-{{row.1}}" href="div#accordion-1 .item-{{row.1}}" style="font-size:16px;">{{mes}}m{ {row} }</a>
                </h5>
            </div> 
            {% if loop.first %}
                <p>if aqui</p>
                <div class="collapse show item-{{row.1}}" role="tabpanel" data-parent="#accordion-1">
            
            {% else %}
                <p>eses aqui</p>
                <div class="collapse item-{{row.1}}" role="tabpanel" data-parent="#accordion-1">
            {% endif %}
                <div class="card-body"> kkk
                    <div class="table-responsive" style="font-size:12px;">
                        <table class="table table-striped table-hover table-sm">
                            <thead>
                                <tr>
                                    <th style="min-width:28px;max-width:65px;">DATA</th>
                                    <th style="min-width:100px;">EVENTO</th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr>
                                    <td style="min-width:28px;max-width:65px;"><a href="evento?id={{id}}">{{row.2}}</a></td>
                                    <td style="min-width:100px;"><a href="evento?id={{id}}">{{row.1}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            {% if loop.first %}
            </div>
            {% else %}
            </div>
            {% endif %}
    </div>
  {% endfor %}

