<!DOCTYPE html>
<html>

<head>
    {% import "bootstrap/utils.html" as utils %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="{{ url_for('static', filename='css/v4.1.3.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/fonts/fontawesome-all.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/fonts/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/fonts/simple-line-icons.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link href="{{ url_for('static', filename='assets/css/Header-Blue.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/Newsletter-Subscription-Form.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <title>{% block title %}{{title}}{% endblock %} | Calendário UFR</title>
</head>

<body>
    <!-- CAMPO DE PESQUISA -->
    <div class="newsletter-subscribe" style="padding: 5px;padding-right: 0px;padding-left: 0px;margin-top: 8px;">
        <div class="container" style="margin-bottom:6px;">
            <form class="form-inline" action="{{url_for('home.buscaEvento')}}" method="POST" id="">
                <div class="form-group">
                    <input class="form-control" type="search" name="busca" id="busca" required="" placeholder="Pesquise por eventos" style="width: 220px;min-width: 220px;font-size: 12px;">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" style="padding-right: 20px;padding-left: 20px;background-color: rgb(23,138,204);">Buscar</button>
                </div>
            </form>
        </div>
    </div>
     <div class="row">
            <div class="col-lg-12 row justify-content-center">
                <div id="msg" class="center-block" style="width: 500px">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {%- for category, msg in messages %}
                                <div class="alert alert-danger">
                                    <h5 class="small text-center text-warning">{{ msg }}</h5>
                                </div>
                            {% endfor -%}
                        {% endif %}
                    {% endwith %}
                </div>
            </div><!-- /.col-lg-12 -->
        </div>
    <!-- Cabeçalho com dados do evento -->
    <header style="margin-top:4px;">
        <a class="btn btn-primary btn-sm d-inline float-left" role="button" href="javascript:history.back();" style="margin-right:10px;margin-left:10px;margin-top:10px;">&lt; Voltar</a>
        <h4 class="d-inline" id="titulo" style="padding-left:0px;margin-top:0px;padding-right:10px;padding-top:0px;">{{evento.eve_nome}}</h4>
        <span id="categoria" class="badge badge-primary" style="background-color:#{{categoria.cat_cor}}">{{categoria.cat_nome}}</span>
        <h6 style="color:rgb(85,89,92);margin-left:10px;">
            <i class="far fa-calendar-alt" style="margin-right:5px;"></i>
            {% if evento.eve_data_ini.strftime('%d/%m%Y') == evento.eve_data_fim.strftime('%d/%m%Y') %}
                <span id="data">{{evento.eve_data_ini.strftime('%d/%m de %Hh%M')}} {{evento.eve_data_fim.strftime('às %Hh%M')}}</span>
            {% else %}
                <span id="data">{{evento.eve_data_ini.strftime('%d/%m às %Hh%M')}} à {{evento.eve_data_fim.strftime('%d/%m às %Hh%M')}}</span>
            {% endif %}
        </h6>
        <h6 style="color: rgb(85,89,92);margin-left: 90px;font-size: 14px;">
            <i class="fas fa-map-marker-alt" style="margin-right:5px;"></i>
            <span id="local">{{evento.eve_local}}</span>
        </h6>
    </header>
    <hr>
    <main></main>
    <p id="descricao" style="padding-right:10px;padding-bottom:10px;padding-left:10px;">{{evento.eve_descricao}}</p>

    <span id="link">
        <a class="btn btn-info" role="button" href="#" target="_blank" style="margin-left:10px;">Link</a>
    </span>

    <span id="calendar">
        <a class="btn btn-info" id="add-event-button" role="button" href="#google-calendar" style="margin-left:10px;">Adicionar ao Calendário</a>
    </span>

    <script type="text/javascript" src="{{url_for('static', filename='js/v3.3.1.jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='assets/js/jquery.blockUI.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/v4.1.3.bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='assets/js/main.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='assets/js/calendar.js') }}"></script>

    <!-- Chamada do Google Calendar API -->
    <script async defer src="https://apis.google.com/js/api.js"
            onload="this.onload=function(){};handleClientLoad();"
            onreadystatechange="if (this.readyState === 'complete') this.onload();"></script>

    <script type="text/javascript">
        var titulo = ''; // título do evento
        var local = ''; // local do evento
        var descricao = ''; // descrição do evento
        var di = ''; // variável de separação do inicio do evento
        var hi = ''; // variável de separação da hora de inicio do evento
        var data_ini = ''; // data de inicio do evento
        var df = ''; // variável de separação do fim do evento
        var hf = ''; // variável de separação da hora de fim do evento
        var data_fim = ''; // data de fim do evento

        $(function () {
            block('Aguarde...');

            var request = $.ajax({
                method: "get",
                url:"app/public/evento", // chamar dados do evento da API
                data: {
                  id: location.search.substring(4) // id do evento recebido via GET
                },
                dataType: "json"
            });
            request.done(function (e) {
                // Incluindo dados do evento nos elementos das divs
                $('#titulo').html(e[0].nome);
                $('#categoria').attr('style', 'background: #'+e[0].cor+';');
                $('#categoria').html(e[0].cat_nome);
                $('#data').html(e[0].data_ext);
                $('#local').html(e[0].local);
                $('#descricao').html(e[0].desc);
                $('#link').html('<a class="btn btn-info" role="button" href="'+e[0].url+'" target="_blank" style="margin-left:10px;">Link</a>');
                titulo   = e[0].nome;
                local    = e[0].local;
                descricao = e[0].desc;

                di = e[0].data_ini.split(' '); // separar a data e a hora da data de inicio
                df = e[0].data_fim.split(' '); // separar a data e a hora da data de fim

                di = di[0].split('-'); // separar dia, mês e ano da data de inicio
                hi = di[1].split(':'); // separar hora, minuto e segundo da data de inicio
                df = df[0].split('-'); // separar dia, mês e ano da data de fim
                hf = df[1].split(':'); // separar hora, minuto e segundo da data de fim

                data_ini = new Date(di[0], di[1], di[2], hi[0], hi[1], hi[2], 0); // montagem da data/hora de inicio para enviar ao Google Calendar
                data_fim = new Date(df[0], df[1], df[2], hf[0], hf[1], hf[2], 0); // montagem da data/hora de fim para enviar ao Google Calendar
            });
            unblock();
        });

        function getPrepara(metodo, valor, nome){

            $(location).attr('href','index.html?m='+metodo+'&v='+valor+'&n='+nome+''); // enviar de volta à página inicial com os dados de pesquisa e listar lá
        }

        var addEventButton = document.getElementById('add-event-button'); // recebe a ação de click do botão "Adicionar ao Calendário"

        addEventButton.onclick = handleAddEventClick; // Quando clicado, chamar a função abaixo

        // cria um evento no Google Calendar
        function handleAddEventClick(event){
            handleAuthClick(); // Autenticação no Google Calendar (Função no arquivo calendar.js)

            criarEvento(titulo, local, descricao, data_ini, data_fim); // Função no arquivo calendar.js

            handleSignoutClick(); // Deslogar (Função no arquivo calendar.js)
        }
    </script>
</body>

</html>