<!-- /#modal inserir usuário -->
<div class="modal fade" id="ins_usuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{url_for('usuario.insertUser')}}" method="POST" id="insere">
                {{form.hidden_tag()}}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Inserir usuário</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Nome do usuário</label>
                                        {{ form.name( id='nome', placeholder='Nome', required='required', class='form-control') }}
                                        <p class="help-block">Até 255 caracteres.</p>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Email</label>
                                        {{ form.email( class='form-control', placeholder='Email usuário') }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-6">
                                        <label>Login</label>
                                        {{ form.tipo( id='usuario', placeholder='Usuário', required='required', class='form-control') }}
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Senha</label>
                                        {{ form.password( id='senha', required='required', class='form-control') }}
                                        <p class="help-block">De 6 à 15 caracteres.</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <h4>Permissões</h4>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-6 col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Menu Categorias
                                            </div>
                                            <div class="panel-body">
                                                <label>
                                                    {{ form.inscat(id='inscat', checked='checked') }} Inserir
                                                </label>
                                                <br />
                                                <label>
                                                    {{ form.altcat(id='altcat', checked='checked') }} Alterar
                                                </label>
                                                <br />
                                                <label> 
                                                    {{ form.delcat(id='delcat', checked='checked') }} Remover
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6 col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Menu Eventos
                                            </div>
                                            <div class="panel-body">
                                                <label>
                                                    {{ form.inseve(id='inseve', checked='checked') }} Inserir
                                                </label>
                                                <br />
                                                <label>
                                                    {{ form.alteve(id='alteve', checked='checked') }} Alterar
                                                </label>
                                                <br />
                                                <label>
                                                    {{ form.deleve(id='deleve', checked='checked') }} Remover
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6 col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Menu Períodos
                                            </div>
                                            <div class="panel-body">
                                                <label>
                                                    {{ form.insprd(id='insprd', checked='checked') }} Inserir
                                                </label>
                                                <br />
                                                <label>
                                                    {{ form.altprd(id='altprd', checked='checked') }} Alterar
                                                </label>
                                                <br />
                                                <label>
                                                    {{ form.delprd(id='delprd', checked='checked') }} Remover 
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6 col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Menu Usuários
                                            </div>
                                            <div class="panel-body">
                                                <label>
                                                    {{ form.insusu(id='insusu', checked='checked') }} Inserir
                                                </label>
                                                <br />
                                                <label>
                                                    {{ form.altusu(id='altusu', checked='checked') }} Alterar
                                                </label>
                                                <br />
                                                <label>
                                                    {{ form.delusu(id='delusu', checked='checked') }} Remover
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    {{ form.submit(class='btn btn-primary') }}
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /#modal inserir usuário -->

<!-- /#modal alterar usuário -->
<div class="modal fade" id="alt_usuario{{row.0}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{url_for('usuario.insertUser')}}" method="POST" id="altera">
                {{form.hidden_tag()}}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Alterar usuário</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Nome do usuário</label>
                                        <input name="nome" id="nome2" placeholder="Auxiliar" required="required" class="form-control">
                                        <input name="id" id="id2" type="hidden">
                                        <p class="help-block">Até 255 caracteres.</p>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Email</label>
                                        {{ form.email( id='email2', placeholder='email@email.com', required='required', class='form-control') }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-6">
                                        <label>Login</label>
                                        <input name="usuario" id="usuario2" placeholder="usuario" required="required" class="form-control">
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Senha</label>
                                        <input name="senha" id="senha2" required="required" class="form-control">
                                        <p class="help-block">De 6 à 15 caracteres.</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <h4>Permissões</h4>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-top: 10px;">
                                    <div class="col-xs-6 col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Menu Campus
                                            </div>
                                            <div class="panel-body">
                                                <label>
                                                    <input id="inscampus2" name="inscampus" type="checkbox" checked="checked" value="1"> Inserir
                                                </label>
                                                <br />
                                                <label>
                                                    <input id="altcampus2" name="altcampus" type="checkbox" checked="checked" value="1"> Alterar
                                                </label>
                                                <br />
                                                <label>
                                                    <input id="delcampus2" name="delcampus" type="checkbox" checked="checked" value="1"> Remover
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6 col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Menu Categorias
                                            </div>
                                            <div class="panel-body">
                                                <label>
                                                    <input id="inscat2" name="inscat" type="checkbox" checked="checked" value="1"> Inserir
                                                </label>
                                                <br />
                                                <label>
                                                    <input id="altcat2" name="altcat" type="checkbox" checked="checked" value="1"> Alterar
                                                </label>
                                                <br />
                                                <label>
                                                    <input id="delcat2" name="delcat" type="checkbox" checked="checked" value="1"> Remover
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6 col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Menu Eventos
                                            </div>
                                            <div class="panel-body">
                                                <label>
                                                    <input id="inseve2" name="inseve" type="checkbox" checked="checked" value="1"> Inserir
                                                </label>
                                                <br />
                                                <label>
                                                    <input id="alteve2" name="alteve" type="checkbox" checked="checked" value="1"> Alterar
                                                </label>
                                                <br />
                                                <label>
                                                    <input id="deleve2" name="deleve" type="checkbox" checked="checked" value="1"> Remover
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6 col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Menu Períodos
                                            </div>
                                            <div class="panel-body">
                                                <label>
                                                    <input id="insprd2" name="insprd" type="checkbox" checked="checked" value="1"> Inserir
                                                </label>
                                                <br />
                                                <label>
                                                    <input id="altprd2" name="altprd" type="checkbox" checked="checked" value="1"> Alterar
                                                </label>
                                                <br />
                                                <label>
                                                    <input id="delprd2" name="delprd" type="checkbox" checked="checked" value="1"> Remover
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6 col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Menu Usuários
                                            </div>
                                            <div class="panel-body">
                                                <label>
                                                    <input id="insusu2" name="insusu" type="checkbox" checked="checked" value="1"> Inserir
                                                </label>
                                                <br />
                                                <label>
                                                    <input id="altusu2" name="altusu" type="checkbox" checked="checked" value="1"> Alterar
                                                </label>
                                                <br />
                                                <label>
                                                    <input id="delusu2" name="delusu" type="checkbox" checked="checked" value="1"> Remover
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Alterar</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /#modal alterar usuário -->

<!-- /#modal alterar perfil -->
<div class="modal fade" id="perfil" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="altera">
                {{form.hidden_tag()}}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Alterar usuário</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Nome do usuário</label>
                                        <input name="nome" id="nome3" placeholder="Auxiliar" required="required" class="form-control">
                                        <input name="id" id="id3" type="hidden">
                                        <p class="help-block">Até 255 caracteres.</p>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input name="email" id="email3" placeholder="email@email.com" required="required" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-6">
                                        <label>Login</label>
                                        <input name="usuario" id="usuario3" placeholder="usuario" required="required" class="form-control">
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Senha</label>
                                        <input name="senha" id="senha3" required="required" class="form-control">
                                        <p class="help-block">De 6 à 15 caracteres.</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <h4>Permissões</h4>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-top: 10px;">
                                    <div class="col-xs-6 col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Menu Campus
                                            </div>
                                            <div class="panel-body">
                                                <label>
                                                    <input id="inscampus3" name="inscampus" type="checkbox" checked="checked" value="1"> Inserir
                                                </label>
                                                <br />
                                                <label>
                                                    <input id="altcampus3" name="altcampus" type="checkbox" checked="checked" value="1"> Alterar
                                                </label>
                                                <br />
                                                <label>
                                                    <input id="delcampus3" name="delcampus" type="checkbox" checked="checked" value="1"> Remover
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6 col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Menu Categorias
                                            </div>
                                            <div class="panel-body">
                                                <label>
                                                    <input id="inscat3" name="inscat" type="checkbox" checked="checked" value="1"> Inserir
                                                </label>
                                                <br />
                                                <label>
                                                    <input id="altcat3" name="altcat" type="checkbox" checked="checked" value="1"> Alterar
                                                </label>
                                                <br />
                                                <label>
                                                    <input id="delcat3" name="delcat" type="checkbox" checked="checked" value="1"> Remover
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6 col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Menu Eventos
                                            </div>
                                            <div class="panel-body">
                                                <label>
                                                    <input id="inseve3" name="inseve" type="checkbox" checked="checked" value="1"> Inserir
                                                </label>
                                                <br />
                                                <label>
                                                    <input id="alteve3" name="alteve" type="checkbox" checked="checked" value="1"> Alterar
                                                </label>
                                                <br />
                                                <label>
                                                    <input id="deleve3" name="deleve" type="checkbox" checked="checked" value="1"> Remover
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6 col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Menu Períodos
                                            </div>
                                            <div class="panel-body">
                                                <label>
                                                    <input id="insprd3" name="insprd" type="checkbox" checked="checked" value="1"> Inserir
                                                </label>
                                                <br />
                                                <label>
                                                    <input id="altprd3" name="altprd" type="checkbox" checked="checked" value="1"> Alterar
                                                </label>
                                                <br />
                                                <label>
                                                    <input id="delprd3" name="delprd" type="checkbox" checked="checked" value="1"> Remover
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6 col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Menu Usuários
                                            </div>
                                            <div class="panel-body">
                                                <label>
                                                    <input id="insusu3" name="insusu" type="checkbox" checked="checked" value="1"> Inserir
                                                </label>
                                                <br />
                                                <label>
                                                    <input id="altusu3" name="altusu" type="checkbox" checked="checked" value="1"> Alterar
                                                </label>
                                                <br />
                                                <label>
                                                    <input id="delusu3" name="delusu" type="checkbox" checked="checked" value="1"> Remover
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Alterar</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /#modal alterar perfil -->

<!-- modal de exclusão -->
<div class="modal fade" id="del_usuario{{row.0}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{url_for('usuario.insertUser')}}" method="POST" id="deletar">
                {{form.hidden_tag()}}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    Tem certeza que deseja excluir?
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="id" id="cod_usuario">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Sim</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /.modal de exclusão -->