<!-- /#modal inserir usuário -->
{% if (current_user.usu_id == prmUsuario.prm_usuario) and (prmUsuario.prm_inserir == 1) %}
<div class="modal fade" id="ins_usuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{url_for('usuario.insertUser')}}" method="POST" id="insere">
                {{form.hidden_tag()}}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Inserir usuário</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Nome do usuário</label>
                                        {{ form.name( id='nome', placeholder='Nome', required='required', class='form-control') }}
                                        <p class="help-block">Até 255 caracteres.</p>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Email</label>
                                        {{ form.email( class='form-control', placeholder='Email usuário') }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-6">
                                        <label>Login</label>
                                        {{ form.tipo( id='usuario', placeholder='Usuário', required='required', class='form-control') }}
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Senha</label>
                                        {{ form.password( id='senha', required='required', class='form-control') }}
                                        <p class="help-block">De 6 à 15 caracteres.</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <h4>Permissões</h4>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-6 col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Menu Categorias
                                            </div>
                                            <div class="panel-body">
                                                <label>
                                                    {{ form.inscat(id='inscat', checked='checked') }} Inserir
                                                </label>
                                                <br />
                                                <label>
                                                    {{ form.altcat(id='altcat', checked='checked') }} Alterar
                                                </label>
                                                <br />
                                                <label> 
                                                    {{ form.delcat(id='delcat', checked='checked') }} Remover
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6 col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Menu Eventos
                                            </div>
                                            <div class="panel-body">
                                                <label>
                                                    {{ form.inseve(id='inseve', checked='checked') }} Inserir
                                                </label>
                                                <br />
                                                <label>
                                                    {{ form.alteve(id='alteve', checked='checked') }} Alterar
                                                </label>
                                                <br />
                                                <label>
                                                    {{ form.deleve(id='deleve', checked='checked') }} Remover
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6 col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Menu Períodos
                                            </div>
                                            <div class="panel-body">
                                                <label>
                                                    {{ form.insprd(id='insprd', checked='checked') }} Inserir
                                                </label>
                                                <br />
                                                <label>
                                                    {{ form.altprd(id='altprd', checked='checked') }} Alterar
                                                </label>
                                                <br />
                                                <label>
                                                    {{ form.delprd(id='delprd', checked='checked') }} Remover 
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6 col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Menu Usuários
                                            </div>
                                            <div class="panel-body">
                                                <label>
                                                    {{ form.insusu(id='insusu', checked='checked') }} Inserir
                                                </label>
                                                <br />
                                                <label>
                                                    {{ form.altusu(id='altusu', checked='checked') }} Alterar
                                                </label>
                                                <br />
                                                <label>
                                                    {{ form.delusu(id='delusu', checked='checked') }} Remover
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    {{ form.submit(class='btn btn-primary') }}
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{% endif %}
<!-- /#modal inserir usuário -->

<!-- /#modal alterar usuário -->
<div class="modal fade" id="alt_usuario{{row.0}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{url_for('usuario.updateUsuario', idUsu= row.0)}}" method="POST">
                {{form.hidden_tag()}}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Alterar usuário</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Nome do usuário</label>
                                        <input name="nome" value="{{row.1}}" placeholder="Auxiliar" class="form-control" required>
                                        <p class="help-block">Até 255 caracteres.</p>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input name="email" value="{{row.2}}" placeholder="email@email.com"  class="form-control" required >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-6">
                                        <label>Login</label>
                                        <input name="usuario" value="{{row.3}}" placeholder="usuario" class="form-control" required>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Senha</label>
                                        <input type="password" value="5xxxxx" name="senha" class="form-control" required>
                                        <p class="help-block">De 6 à 15 caracteres.</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <h4>Permissões</h4>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-top: 10px;">
                                    <div class="col-xs-6 col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Menu Eventos
                                            </div>
                                            <div class="panel-body">
                                                {% for prmUser in permissoes %}
                                                {% if (prmUser.prm_usuario == row.0) and (prmUser.prm_item_permitido == 1) and (prmUser.prm_inserir == 1) %}
                                                    <label>
                                                        {{ form.inseve(id='inseve', checked='checked') }} Inserir
                                                    </label>
                                                {% endif %}
                                                {% if (prmUser.prm_usuario == row.0) and (prmUser.prm_item_permitido == 1) and (prmUser.prm_inserir == 0) %}
                                                    <label>
                                                        {{ form.inseve(id='inseve') }} Inserir
                                                    </label>
                                                {% endif %}
                                                {% if (prmUser.prm_usuario == row.0) and (prmUser.prm_item_permitido == 1) and (prmUser.prm_alterar == 1) %}
                                                    <br>
                                                    <label>
                                                        {{ form.alteve(id='alteve', checked='checked') }} Alterar
                                                    </label>
                                                {% endif %}
                                                {% if (prmUser.prm_usuario == row.0) and (prmUser.prm_item_permitido == 1) and (prmUser.prm_alterar == 0) %}
                                                    <br>
                                                    <label>
                                                        {{ form.alteve(id='alteve') }} Alterar
                                                    </label>
                                                {% endif %}
                                                {% if (prmUser.prm_usuario == row.0) and (prmUser.prm_item_permitido == 1) and (prmUser.prm_deletar == 1) %}
                                                    <br>
                                                    <label>
                                                        {{ form.deleve(id='deleve', checked='checked') }} Remover
                                                    </label>
                                                {% endif %}
                                                {% if (prmUser.prm_usuario == row.0) and (prmUser.prm_item_permitido == 1) and (prmUser.prm_deletar == 0) %}
                                                    <br>
                                                    <label>
                                                        {{ form.deleve(id='deleve') }} Remover
                                                    </label>
                                                {% endif %}
                                            {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Menu Categorias
                                            </div>
                                            <div class="panel-body">
                                            {% for prmUser in permissoes %}
                                                {% if (prmUser.prm_usuario == row.0) and (prmUser.prm_item_permitido == 2) and (prmUser.prm_inserir == 1) %}
                                                    <label>
                                                        {{ form.inscat(id='inscat', checked='checked') }} Inserir
                                                    </label>
                                                {% endif %}
                                                {% if (prmUser.prm_usuario == row.0) and (prmUser.prm_item_permitido == 2) and (prmUser.prm_inserir == 0) %}
                                                    <label>
                                                        {{ form.inscat(id='inscat') }} Inserir
                                                    </label>
                                                {% endif %}
                                                {% if (prmUser.prm_usuario == row.0) and (prmUser.prm_item_permitido == 2) and (prmUser.prm_alterar == 1) %}
                                                    <br>
                                                    <label>
                                                        {{ form.altcat(id='altcat', checked='checked') }} Alterar
                                                    </label>
                                                {% endif %}
                                                {% if (prmUser.prm_usuario == row.0) and (prmUser.prm_item_permitido == 2) and (prmUser.prm_alterar == 0) %}
                                                    <br>
                                                    <label>
                                                        {{ form.altcat(id='altcat') }} Alterar
                                                    </label>
                                                {% endif %}
                                                {% if (prmUser.prm_usuario == row.0) and (prmUser.prm_item_permitido == 2) and (prmUser.prm_deletar == 1) %}
                                                    <br>
                                                    <label>
                                                        {{ form.delcat(id='delcat', checked='checked') }} Remover
                                                    </label>
                                                {% endif %}
                                                {% if (prmUser.prm_usuario == row.0) and (prmUser.prm_item_permitido == 2) and (prmUser.prm_deletar == 0) %}
                                                    <br>
                                                    <label>
                                                        {{ form.delcat(id='delcat') }} Remover
                                                    </label>
                                                {% endif %}
                                            {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6 col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Menu Períodos
                                            </div>
                                            <div class="panel-body">
                                            {% for prmUser in permissoes %}
                                                {% if (prmUser.prm_usuario == row.0) and (prmUser.prm_item_permitido == 3) and (prmUser.prm_inserir == 1) %}
                                                    <label>
                                                        {{ form.insprd(id='insprd', checked='checked') }} Inserir
                                                    </label>
                                                {% endif %}
                                                {% if (prmUser.prm_usuario == row.0) and (prmUser.prm_item_permitido == 3) and (prmUser.prm_inserir == 0) %}
                                                    <label>
                                                        {{ form.insprd(id='insprd') }} Inserir
                                                    </label>
                                                {% endif %}
                                                {% if (prmUser.prm_usuario == row.0) and (prmUser.prm_item_permitido == 3) and (prmUser.prm_alterar == 1) %}
                                                    <br>
                                                    <label>
                                                        {{ form.altprd(id='altprd', checked='checked') }} Alterar
                                                    </label>
                                                {% endif %}
                                                {% if (prmUser.prm_usuario == row.0) and (prmUser.prm_item_permitido == 3) and (prmUser.prm_alterar == 0) %}
                                                    <br>
                                                    <label>
                                                        {{ form.altprd(id='altprd') }} Alterar
                                                    </label>
                                                {% endif %}
                                                {% if (prmUser.prm_usuario == row.0) and (prmUser.prm_item_permitido == 3) and (prmUser.prm_deletar == 1) %}
                                                    <br>
                                                    <label>
                                                        {{ form.delprd(id='delprd', checked='checked') }} Remover 
                                                    </label>
                                                {% endif %}
                                                {% if (prmUser.prm_usuario == row.0) and (prmUser.prm_item_permitido == 3) and (prmUser.prm_deletar == 0) %}
                                                    <br>
                                                    <label>
                                                        {{ form.delprd(id='delprd') }} Remover 
                                                    </label>
                                                {% endif %}
                                            {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6 col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Menu Usuários
                                            </div>
                                            <div class="panel-body">
                                            {% for prmUser in permissoes %}
                                                {% if (prmUser.prm_usuario == row.0) and (prmUser.prm_item_permitido == 4) and (prmUser.prm_inserir == 1) %}
                                                    <label>
                                                        {{ form.insusu(id='insusu', checked='checked') }} Inserir
                                                    </label>
                                                {% endif %}
                                                {% if (prmUser.prm_usuario == row.0) and (prmUser.prm_item_permitido == 4) and (prmUser.prm_inserir == 0) %}
                                                    <label>
                                                        {{ form.insusu(id='insusu') }} Inserir
                                                    </label>
                                                {% endif %}
                                                {% if (prmUser.prm_usuario == row.0) and (prmUser.prm_item_permitido == 4) and (prmUser.prm_alterar == 1) %}
                                                    <br>
                                                    <label>
                                                        {{ form.altusu(id='altusu', checked='checked') }} Alterar
                                                    </label>
                                                {% endif %}
                                                {% if (prmUser.prm_usuario == row.0) and (prmUser.prm_item_permitido == 4) and (prmUser.prm_alterar == 0) %}
                                                    <br>
                                                    <label>
                                                        {{ form.altusu(id='altusu') }} Alterar
                                                    </label>
                                                {% endif %}
                                                {% if (prmUser.prm_usuario == row.0) and (prmUser.prm_item_permitido == 4) and (prmUser.prm_deletar == 1) %}
                                                    <br>
                                                    <label>
                                                        {{ form.delusu(id='delusu', checked='checked') }} Remover
                                                    </label>
                                                {% endif %}
                                                {% if (prmUser.prm_usuario == row.0) and (prmUser.prm_item_permitido == 4) and (prmUser.prm_deletar == 0) %}
                                                    <br>
                                                    <label>
                                                        {{ form.delusu(id='delusu') }} Remover
                                                    </label>
                                                {% endif %}
                                            {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Alterar</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /#modal alterar usuário -->

<!-- modal de exclusão -->
<div class="modal fade" id="del_usuario{{row.0}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{url_for('usuario.deleteUsuario', idUsu= row.0)}}" method="POST">
                {{form.hidden_tag()}}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    Atenção!<br/>
                    <p>Excluir usuário: ( {{row.1}} ) ?</p>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="id" id="cod_usuario">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-danger">Sim</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /.modal de exclusão -->